<?php
// +---------------------------------------------------------------------------+
// | This file is part of the Redracer Forge Project.                          |
// | Copyright (c) 2009 the Redracer Project.                                  |
// |                                                                           |
// | For the full copyright and license information, please view the LICENSE   |
// | file that was distributed with this source code.                          |
// +---------------------------------------------------------------------------+

/**
 * 
 * (Description here)
 * 
 * @copyright  (c) the authors
 * @author     Benjamin Boerngen-Schmidt <benjamin@boerngen-schmidt.de>
 * @copyright  Authors
 * @license    GPLv3
 * @package    %%PROJECT_PREFIX%%
 * @subpackage %%MODULE_NAME%%
 * @since      1.0
 * @version    $Id$
*/

/**
 * The base model from which all %%MODULE_NAME%% module models inherit.
 */
class %%PROJECT_PREFIX%%%%MODULE_NAME%%BaseModel extends %%PROJECT_PREFIX%%BaseModel
{

}

?>